In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.read_excel('Test_set.xlsx')
pd.set_option('display.max_columns', None)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [3]:
df.describe(include ='all')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671
unique,11,44,5,6,100,199,704,320,5,6
top,Jet Airways,9/05/2019,Delhi,Cochin,DEL → BOM → COK,10:00,19:00,2h 50m,1 stop,No info
freq,897,144,1145,1145,624,62,113,122,1431,2148

no missing values, now we will study and clean each filter one by one, price is also in reasonable range, no outliers in price

In [4]:
(df.isnull().sum()/df.shape[0])*100

Airline            0.0
Date_of_Journey    0.0
Source             0.0
Destination        0.0
Route              0.0
Dep_Time           0.0
Arrival_Time       0.0
Duration           0.0
Total_Stops        0.0
Additional_Info    0.0
dtype: float64

In [5]:
df.dropna(inplace= True)

In [6]:
df['Airline'].value_counts()

Jet Airways                          897
IndiGo                               511
Air India                            440
Multiple carriers                    347
SpiceJet                             208
Vistara                              129
Air Asia                              86
GoAir                                 46
Multiple carriers Premium economy      3
Vistara Premium economy                2
Jet Airways Business                   2
Name: Airline, dtype: int64

In [7]:
df["Total_Stops"].unique()

array(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'],
      dtype=object)

In [8]:
df.replace({"New Delhi": 'Delhi'}, inplace = True)

In [9]:
df.replace({"non-stop": 0, "1 stop": 1, "2 stops": 2, "3 stops": 3, "4 stops": 4}, inplace = True)

In [10]:
df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])

In [11]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,2019-06-06,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info
1,IndiGo,2019-12-05,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1,No info
2,Jet Airways,2019-05-21,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,In-flight meal not included
3,Multiple carriers,2019-05-21,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1,No info
4,Air Asia,2019-06-24,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,2019-06-06,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1,No info
2667,IndiGo,2019-03-27,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,0,No info
2668,Jet Airways,2019-06-03,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1,No info
2669,Air India,2019-06-03,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1,No info
2670,Multiple carriers,2019-06-15,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1,No info

In [12]:
df['Duration'] = df['Duration'].str.replace("h", '*60').str.replace(' ','+').str.replace('m','*1').apply(eval)

In [13]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,2019-06-06,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,655,1,No info
1,IndiGo,2019-12-05,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,240,1,No info
2,Jet Airways,2019-05-21,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,1425,1,In-flight meal not included
3,Multiple carriers,2019-05-21,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,780,1,No info
4,Air Asia,2019-06-24,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,170,0,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,2019-06-06,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,1435,1,No info
2667,IndiGo,2019-03-27,Kolkata,Banglore,CCU → BLR,14:20,16:55,155,0,No info
2668,Jet Airways,2019-06-03,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,395,1,No info
2669,Air India,2019-06-03,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,915,1,No info
2670,Multiple carriers,2019-06-15,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,860,1,No info

In [14]:
df['Route'].value_counts()

DEL → BOM → COK                624
BLR → DEL                      389
CCU → BOM → BLR                253
CCU → BLR                      172
BOM → HYD                      164
                              ...
BLR → BOM → IDR → GWL → DEL      1
BLR → GOI → DEL                  1
CCU → PAT → BLR                  1
BLR → VGA → DEL                  1
BOM → GOI → PNQ → HYD            1
Name: Route, Length: 100, dtype: int64



make route by removing arrow, then make set

In [15]:
df['week'] = df['Date_of_Journey'].dt.day_name()
df['month'] = df['Date_of_Journey'].dt.month_name()

In [16]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,week,month
0,Jet Airways,2019-06-06,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,655,1,No info,Thursday,June
1,IndiGo,2019-12-05,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,240,1,No info,Thursday,December
2,Jet Airways,2019-05-21,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,1425,1,In-flight meal not included,Tuesday,May
3,Multiple carriers,2019-05-21,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,780,1,No info,Tuesday,May
4,Air Asia,2019-06-24,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,170,0,No info,Monday,June
...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,2019-06-06,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,1435,1,No info,Thursday,June
2667,IndiGo,2019-03-27,Kolkata,Banglore,CCU → BLR,14:20,16:55,155,0,No info,Wednesday,March
2668,Jet Airways,2019-06-03,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,395,1,No info,Monday,June
2669,Air India,2019-06-03,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,915,1,No info,Monday,June
2670,Multiple carriers,2019-06-15,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,860,1,No info,Saturday,June

In [17]:
df.Dep_Time.str.len ().max ()

5

In [18]:
df.Arrival_Time.str.len ().max ()  # formate is corrected to get time only

12

In [19]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x: (x[:5]))

In [20]:
df['Dep_hour'] = df['Dep_Time'].apply(lambda x: int(x[:2]))
# df['Ari_hour'] = df['Arrival_Time'].apply(lambda x: int(x[:2]))

In [21]:
df['Dep_Time'] = df['Dep_Time'].str.replace(":", '').astype(int)
df['Arrival_Time'] = df['Arrival_Time'].str.replace(":", '').astype(int)

In [22]:
df['Additional_Info'].value_counts() # we will do one hot encoding

No info                         2148
In-flight meal not included      444
No check-in baggage included      76
1 Long layover                     1
Business class                     1
Change airports                    1
Name: Additional_Info, dtype: int64

In [23]:
# df['Route'] = df['Route'].astype(str)
# df['Route'] = df['Route'].str.replace(" → ",' ')

In [24]:
# df['Route'] = df['Route'].apply(set)
#  applying to set is not reducing the number of different route

In [25]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,week,month,Dep_hour
0,Jet Airways,2019-06-06,Delhi,Cochin,DEL → BOM → COK,1730,425,655,1,No info,Thursday,June,17
1,IndiGo,2019-12-05,Kolkata,Banglore,CCU → MAA → BLR,620,1020,240,1,No info,Thursday,December,6
2,Jet Airways,2019-05-21,Delhi,Cochin,DEL → BOM → COK,1915,1900,1425,1,In-flight meal not included,Tuesday,May,19
3,Multiple carriers,2019-05-21,Delhi,Cochin,DEL → BOM → COK,800,2100,780,1,No info,Tuesday,May,8
4,Air Asia,2019-06-24,Banglore,Delhi,BLR → DEL,2355,245,170,0,No info,Monday,June,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,2019-06-06,Kolkata,Banglore,CCU → DEL → BLR,2030,2025,1435,1,No info,Thursday,June,20
2667,IndiGo,2019-03-27,Kolkata,Banglore,CCU → BLR,1420,1655,155,0,No info,Wednesday,March,14
2668,Jet Airways,2019-06-03,Delhi,Cochin,DEL → BOM → COK,2150,425,395,1,No info,Monday,June,21
2669,Air India,2019-06-03,Delhi,Cochin,DEL → BOM → COK,400,1915,915,1,No info,Monday,June,4
2670,Multiple carriers,2019-06-15,Delhi,Cochin,DEL → BOM → COK,455,1915,860,1,No info,Saturday,June,4

In [26]:
# df['Route'].value_counts()

In [27]:
# from sklearn.feature_extraction.text import CountVectorizer
# vectorizer = CountVectorizer()
# df['route_counts'] = vectorizer.fit_transform(df['Route']).toarray().tolist()
# df

In [28]:
# # we have to apply count vectorizer to handle text values
# from sklearn.feature_extraction.text import CountVectorizer
# vectorizer = CountVectorizer()
# X = vectorizer.fit_transform(df['Route'])
# df_counts = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())
# df = df.reset_index(drop=True)
# df = pd.concat([df, df_counts], axis=1)

In [29]:
df = pd.get_dummies(df, columns=['week'], prefix='', drop_first=True)

In [30]:
# now we will apply dummy variable and remove extra features
df = pd.get_dummies(df, columns=['Airline'], prefix='', drop_first=True)
df = pd.get_dummies(df, columns=['Source'], prefix='source', drop_first=True)
# df = pd.get_dummies(df, columns=['week'], prefix='', drop_first=True)
df = pd.get_dummies(df, columns=['Destination'], prefix='', drop_first=True)
df = pd.get_dummies(df, columns=['month'], prefix='', drop_first=True)
df = pd.get_dummies(df, columns=['Additional_Info'], prefix='', drop_first=True)
df = pd.get_dummies(df, columns=['Dep_hour'], prefix='', drop_first=True)

In [31]:
df.columns

Index(['Date_of_Journey', 'Route', 'Dep_Time', 'Arrival_Time', 'Duration',
       'Total_Stops', '_Monday', '_Saturday', '_Sunday', '_Thursday',
       '_Tuesday', '_Wednesday', '_Air India', '_GoAir', '_IndiGo',
       '_Jet Airways', '_Jet Airways Business', '_Multiple carriers',
       '_Multiple carriers Premium economy', '_SpiceJet', '_Vistara',
       '_Vistara Premium economy', 'source_Chennai', 'source_Delhi',
       'source_Kolkata', 'source_Mumbai', '_Cochin', '_Delhi', '_Hyderabad',
       '_Kolkata', '_December', '_January', '_June', '_March', '_May',
       '_September', '_Business class', '_Change airports',
       '_In-flight meal not included', '_No check-in baggage included',
       '_No info', '_1', '_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '_10',
       '_11', '_12', '_13', '_14', '_15', '_16', '_17', '_18', '_19', '_20',
       '_21', '_22', '_23'],
      dtype='object')

In [32]:
df = df.drop(['Date_of_Journey', 'Route'], axis=1)
df.to_excel('processed_test.xlsx', index=False)

In [33]:
stop

NameError: name 'stop' is not defined

In [ ]:
y=df['Price']
X=df.drop(['Price'],axis=1)

In [ ]:
# lets split the data in train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y ,
                                   random_state=0, 
                                   test_size=0.25, 
                                   shuffle=True)

In [ ]:
#lets use models which do not required normalization
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)
y_pred_dt = regressor.predict(X_test)
x_train_result = regressor.predict(X_train)
x_train_result_series = pd.Series(x_train_result, index=X_train.index)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred_dt)
print(mse)
r2_test = r2_score(y_test, y_pred_dt)
print(len(X_train),len(x_train_result))
r2_train = r2_score(y_train,x_train_result)

In [ ]:
r2_train # 0.991 after removing route

In [ ]:
r2_test # 0.6626  result inprove on removing route 0.7517

In [ ]:
y_pred_series =  pd.Series(y_pred_dt, index=X_test.index)
x_test_result = pd.concat([y_test, y_pred_series], axis=1)
x_test_result

In [ ]:
x_train_result = pd.concat([y_train, x_train_result_series], axis=1)
x_train_result

In [ ]:
from sklearn import datasets, linear_model, metrics
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model, metrics
model = linear_model.LinearRegression()
# train the model using the training sets
model.fit(X_train, y_train)
# y_pred_lr = model.predict(X_test)

print('Variance score or r_sq: {}'.format(model.score(X_test, y_test))) 
# 0.65737

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
for K in range(1,10):
    K = K+1
    model = KNeighborsRegressor(n_neighbors = K)
    model.fit(X_train,y_train)
#     y_pred7 = model.predict(X_test)
    print('Variance score or r_sq: {}'.format(model.score(X_test, y_test)))

In [ ]:
model = KNeighborsRegressor(n_neighbors = 5)
model.fit(X_train,y_train)
model.score(X_test, y_test)    # 0.557 slightly decrease on removing route 0.5515

In [ ]:
stop

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# Define the model
model = RandomForestRegressor()

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Define the grid search with cross-validation
grid_search = GridSearchCV(
    estimator=model,
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)

# Train the model with grid search
grid_search.fit(X_train, y_train)

# Get the best hyperparameters and score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

# Evaluate the model on the test set
y_pred = grid_search.predict(X_test)
score = grid_search.score(X_test, y_test)

# Print the results
print('Best parameters:', best_params)
print('Best score:', -best_score)
print('Test score:', -score)
r2 = r2_score(y_test, y_pred)
r2   # 0.8132  after removing route 0.8513499563881023

In [ ]:
r2 = r2_score(y_test, y_pred)
r2

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [ ]:
# models after normalisation

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn import linear_model

# Create an instance of the SGDRegressor model
model = linear_model.SGDRegressor()

# Define the hyperparameters to search over
param_grid = {
    'alpha': [0.0001, 0.001, 0.01],
    'penalty': ['l1', 'l2', 'elasticnet'],
    'max_iter': [1000, 5000, 10000],
}

# Create a GridSearchCV object to find the best hyperparameters
grid_search = GridSearchCV(model, param_grid, cv=5)

# Fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and the variance score on the test set
print('Best hyperparameters: {}'.format(grid_search.best_params_))
print('Variance score or r_sq: {}'.format(grid_search.best_estimator_.score(X_test, y_test)))
# r_sq: -3.165752431676326e+22

In [ ]:
from sklearn import linear_model
alp = np.logspace(-1, 1, 30)
for i in alp :
    model = linear_model.Lasso(alpha=i)
    model.fit(X_train,y_train)
    # y_pred7 = model.predict(x_test)
    print(f'r_sq: {model.score(X_test, y_test)} for alpha : {i}')

In [ ]:
alp = .22
model = linear_model.Lasso(alpha=alp)
model.fit(X_train,y_train)
print(f'r_sq: {model.score(X_test, y_test)}')    #0.730

In [ ]:
!pip install lazypredict

In [ ]:
from lazypredict.Supervised import LazyRegressor
reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
models, predictions = reg.fit(X_train, X_test, y_train, y_test)
models.head(10)

In [ ]:

# check for duplicate column names
print(df.columns.duplicated().any())
print(df.columns[df.columns.duplicated()])